# Copy this file to .env (which is git-ignored) and adjust as needed.
# This will ensure that you do not commit sensitive information to version control.
# This URL points to the local PostgreSQL container started via docker-compose.

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=career_journal

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/career_journal

# LLM API Configurations

# Set to 'true' to use AWS Bedrock with DeepSeek model (production)
# Set to 'false' to use OpenAI-compatible endpoint (local development) -> DEFAULT
CLOUD_NATIVE=false

# Required if CLOUD_NATIVE is set to 'true'
# AWS Bedrock Configurations 
AWS_REGION=placeholder
BEDROCK_MODEL_ID=placeholder

# Required if CLOUD_NATIVE is set to 'false'
# OpenAI API Configurations 
OPENAI_API_KEY=placeholder
OPENAI_BASE_URL=placeholder
OPENAI_MODEL=placeholder